/*@media for lg Bootstrap screen min 1200px*/

@media  screen and (min-width: 1300px) {
    /*Start of navbar CSS*/
    /*navbar class CSS*/
    .navbar {
        background-color: white;
        padding-bottom: 8px;
    }
    .navbar-brand {
        padding-left: 315px;
    }
    .navbar-default {
        margin-bottom: -5px;
        /*padding-bottom: 0px;*/
    }
    .glyphicon {
        margin-right: 30px;
        margin-left: -30px;
    }
    .navbar-btn {
        margin-top: 4px;
        margin-right: 60px;
    }
    .navbar-btn:hover {
        margin-top: 4px;
        margin-right: 60px;
    }
    .header-link {
        margin-left: 0;
    }
    #navbar_right_link{
      margin-right: 300px;
    }
    .form-control{
      width:12vw;
    }
    #col_grey_text{
      margin-left:20px;
       padding-top: 80px;
    }
    .btn-trajet{
      width: 16vw;

    }
    /*End of navbar class CSS*/
}
/*End of @media 1300px*/
/*@media for lg Bootstrap screen min 1200px and max 1300px*/

@media  screen and (min-width: 1200px) and (max-width: 1300px) {
    /*Start of navbar CSS*/
    /*navbar class CSS*/

    .form-control{
      width: 12vw;
    }
    .btn-trajet{
      width: 16vw;

    }
    /*End of navbar class CSS*/
}
/*End of @media 1300px*/
/*@media for lg Bootstrap screen min 993px and 1250px*/

@media  screen and (min-width: 992px) and (max-width: 1199px) {
    /*Start of navbar CSS*/
    /*navbar class CSS*/

    .form-control{
      width: 30vw;
    }
    .btn-trajet{
      width: 30vw;


    }
    /*End of navbar class CSS*/
}
/*End of @media screen min 993px and 1250px*/


/*@media for lg Bootstrap screen min 768px and max 992*/

@media  screen and (min-width: 320px) and (max-width: 991px){
    /*Start of navbar CSS*/
    /*navbar class CSS*/
    .navbar {
        background-color: white;
        padding-bottom: 8px;
    }
    /*.navbar-brand {
        padding-left: 315px;
    }*/
    .navbar-default {
        margin-bottom: -5px;
        /*padding-bottom: 0px;*/
    }
    .glyphicon {
        margin-right: 30px;
        margin-left: -30px;
    }

    .header-link {
        margin-left: 0;
    }
    .form-control{
      width: 100vw;
    }
    .btn-trajet{
      width: 100vw;

    }
    /*End of navbar class CSS*/
}



/*End of @Media for lg Bootstrap screen*/



/*End of navbar CSS*/


/*start of body CSS*/


/*second row CSS*/

#second_row_1 {
    padding: 0px;
    margin-left: 0px;
    font-size: 20px;
    font-weight: bold;
}


/*End of second row CSS*/


/*fourth CSS*/

.form-control {
    height: 50px;
}


/*inner CSS*/

.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 30px;
}

.left-inner-addon i {
    position: absolute;
    padding: 19px 12px;
    color: #00A87E;
}


/*End of inner CSS*/


/* fourth row CSS*/

#fourth_row {
    padding-top: 42px;
    padding-bottom: 42px;
}


/*End of fourth row CSS*/


/*fifth row CSS*/

#fifth_row {
    padding-top: 35px;
}


/*End of fifth CSS*/


/*sixth row CSS*/

#sixth_row {
    padding-top: 20px;
    padding-bottom: 40px;
}


/*End of sixth row CSS*/


/*seventh row CSS*/

#seventh_row {
    padding-top: 35px;
}


/*End of seventh row CSS*/


/*height row CSS*/

#height_row {
    padding-top: 55px;
    padding-bottom: 90px;
    text-align: center;
}


/*End of height row CSS*/


/*ninth row CSS*/

#ninth_row {
    padding-top: 30px;
}


/*End of ninth row CSS*/


/*tenth row CSS*/

#tenth_row {
    padding-bottom: 50px;
}


/*End of tenth row CSS*/


/*eleventh row*/

#eleventh_row {
    padding-top: 30px;
}


/*End of eleventh row*/


/*twelfth row*/

#twelfth_row {
    padding-top: 15px;
    padding-bottom: 80px;
}


/*End of twelfth row*/


/*End of body CSS*/


/*Start of Footer CSS*/

#footer_top {
    padding-bottom: 25px
}

#footer_corpo {
    background-color: #F9F9F9;
    padding-top: 50px
}

#footer_bottom {
    padding-top: 25px;
}

.Footer_ul1 {
    padding-top: 50px;
}

.Footer_Logo {
    padding-top: 20px;
    display: flex;
}

.follow_logo {
    padding: 0px 5px 0px 5px;
}


/*End of footer class*/


/*End of Footer CSS*/


/*balise CSS*/

a {
    color: #0082CA;
    font-size: 17px;
}

a:hover {
    text-decoration: none;
    color: #0082CA;
}
b {
    margin-right: 15px;
    color: #0082CA;
    font-size: 16px;
    font-family: arial;
}



em {
    color: black;
    font-size: 17px;
}

strong {
    color: #00A87E;
    font-size: 40px;
}

small {
    color: #00A87E;
    font-size: 13px;
    font-weight: lighter;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h5 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 50px;
}


/*End of balise CSS*/


/*Boutton CSS*/

.btn-default {
    width: 250px;
    height: 40px;
    background-color: #0082CA;
    border: 2px solid white;
    border-radius: 16px;
    font-family: arial;
    font-size: 16px;
    text-align: center;
    color: white;
}

.btn-default:hover {
    width: 250px;
    height: 40px;
    background-color: #004575;
    border: 2px solid white;
    border-radius: 16px;
    font-family: arial;
    font-size: 16px;
    text-align: center;
    color: white;
}

.btn-trajet {

    height: 80px;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #727272;
}

.btn-trajet:hover {
    background-color: white;
    border: 1px solid silver;
}

.footer_button {
    color: silver;
    background-color: white;
    text-align: left;
    width: 150px;
    height: 50px;
    border: 1px solid silver;
    border-radius: 3px;
}


/*ENd of Button CSS*/


/*Footer CSS*/

.Footer_ul, li {
    list-style-type: none;
    padding-top: 7px;
}

.Footer_ul, h4 {
    list-style-type: none;
    padding-top: 20px;
}


/*End of Footer CSS*/


/*Forçage Bootstrap pb marge containeur*/


/*.row {
    margin-right: 0px;
    margin-left: 0px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}*/


/*Fin Forçage Bootstrap pb marge containeur*/


/*body CSS*/

.grey {
    background-color: #F2F2F2;
}

.grey2 {
    background-color: #F9F9F9;
}
/*end of CSS*/
