/*Start of navbar CSS*/
.row {
    margin-right: 0px;
    margin-left: -15px;
  }
.navbar {
    background-color: white;

    /*padding: 8px;*/
}
.navbar-brand {
  padding-left: 300px;
}
.navbar-default {
  margin-bottom: -5px;
  /*padding-bottom: 0px;*/
}

.glyphicon {
    margin-right: 16px;
    margin-left: -12px;
}

.navbar-btn {

    height: 40px;
    margin-top: 4px;
    margin-right: 45px;
    padding-left: -8px;
    background-color: #0082CA;
    border: 2px solid white;
    border-radius: 16px;
    font-family: arial;
    font-size: 16px;
    text-align: center;
    color: white;
}

.navbar-btn:hover {

    height: 40px;
    margin-top: 4px;
    margin-right: 45px;
    padding-left: -8px;
    background-color: #004575;
    border: 2px solid white;
    border-radius: 16px;
    font-family: arial;
    font-size: 16px;
    text-align: center;
    color: white;
}
b {
  margin-right: 15px;
  color: #0082CA;
  font-size: 16px;
  font-family: arial;
}
.header-link{
  margin-left: -38px;

}
h2{
  font-size: 40px;
  font-weight: bold;
}
/*End of navbar CSS*/
/*start of body CSS*/
#first_row {
  padding: 0px;
  margin-top: 0px;


}

#second_row_1 {
  padding: 0px;
  margin-left: 0px;
  font-size: 20px;
  font-weight: bold;

}

.btn-default {
  width: 250px;
  height: 40px;
  padding-left: -8px;
  background-color: #0082CA;
  border: 2px solid white;
  border-radius: 16px;
  font-family: arial;
  font-size: 16px;
  text-align: center;
  color: white;
}

.btn-default:hover {
    width: 250px;
    height: 40px;
    padding-left: -8px;
    background-color: #004575;
    border: 2px solid white;
    border-radius: 16px;
    font-family: arial;
    font-size: 16px;
    text-align: center;
    color: white;
}
.grey{
  background-color: rgba(0, 0, 0, 0.07)
}
#col_grey{
  
  margin-top: 40px;
  padding-top: 60px;
  padding-left: 80px;
  padding-bottom: 60px;
}
.form-control{
  height: 50px;


}

#link1{
  padding-left: -25px;
  /*margin-left: 0px;*/
}
/*inner CSS*/
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;

}
.left-inner-addon i {
    position: absolute;
    padding: 19px 12px;
    pointer-events: none;
    color: green
}


/*End of inner CSS*/
.col_grey_text{
padding-left: 50px;

}
.seventh_content{
  text-align: center;
}
/*End of body CSS*/
/*Start of Footer CSS*/
#Footer_buttom
{
background-color: rgba(0, 0, 0, 0.16);
padding-top: 10px;
}

#Footer_left
{
background-color: rgba(0, 0, 0, 0.07);
padding-top: 30px;
}



.Footer_ul, li
{
list-style-type: none;
padding: 7px;
}

/*.Footer_ul1
{

}*/

.Footer_Corp
{
list-style-type: none;
}
.footer button{
  background-color: white;
  border: 1px solid grey;
}

.Footer_Logo
{
padding-top: 20px;
display: flex;
/*justify-content: space-between;*/
}
.follow_logo{
  padding: 0px 5px 0px 5px;
}
p
{
text-align: left;
}

/*End of Footer CSS*/
